@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
	
background-color: #ccf6e7


}

#header {

    padding-top: 1px;
    padding-bottom: 3px;
    margin-bottom: 30px;
    background-color: ivory;

}

h3 {

    margin-top: 25px !important;
    vertical-align: top;
    font-family: 'Signika', sans-serif !important;

}

h3 , #logo {

	display: inline-block;

}


#logo {

    margin-top: 3px;
    margin-bottom: 1px;
    margin-left: 10px;
    width: 4%;
    max-width: 100%;
    height: auto !important;

}

#header div {

    margin-top: 20px;
    float: right;
    margin-right: 10px;

}
#logout-btn {

	color: black;
    text-decoration: none;

}

h1{
    text-align: center;
    padding-bottom: 20px;
}

table {
    margin: 0 auto;
    width: 20%;
    border: 1px solid black;

}

th , td {
     border: 1px solid black;
     padding-bottom: 8px;

 }

input {
    margin-top: 10px; 
    margin-right: 6.5%;
    margin-bottom: 10px; 
    border-radius: 2px;
    border: 1px; 
    background-color: black;
    color: white;
    float: right;

}
